.recent-viseted{
    background: var(--blue-gradient);
    text-align: center;
    padding: 0 1em 2em 1em;
}

.recent-viseted__title{
    color: var(--white);
    font-weight: 300;
    padding: 1.5em; 
}

.recent-viseted__buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.recent-viseted__button{
    font-size: 14px ;
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    background-color: var(--orange);
    padding: 1em 1.5em;
}

@media screen and (min-width: 1024px) {
    .recent-viseted__title,  .recent-viseted__button{
        font-size: 24px;    
    }
    
    .recent-viseted__buttons{
        gap: 2em;
    }
}

@media screen and (min-width: 1728px) {

    .recent-viseted{
        padding: 4em 20%;
    }
    .recent-viseted__title{
        padding-top: 0;
        font-size: 32px;
    }

    .recent-viseted__button{
        font-size: 24px;
    }
}
